* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

/* nav */
nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(153, 153, 226);
    font-size: 1.01rem;
    text-decoration: underline;
}

.left a {
    color: white;
    text-decoration: none;
    margin-left: 35px;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
}

.left a:hover {
    font-size: 1.53rem;
    color: rgb(153, 153, 226);

}

/* Style for login button */
.login-button a {
    background-color: #12123e;
    color: white;
    padding: 5px 15px;
    border: 2px solid gray;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.login-button a:hover {
    border: 2px solid white;
    font-weight: bold;
    color: white;
    background-color: #1e2167;
}

.signup-button a {
    background-color: #12123e;
    color: white;
    padding: 5px 15px;
    border: 2px solid gray;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.signup-button a:hover {
    border: 2px solid white;
    font-weight: bold;
    color: white;
    background-color: #1e2167;
}

/* container */
.container {
    background: rgba(0, 0, 33, 0.237);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    /* Center horizontally */
    margin-top: 10%;
    /* Adjust the top margin to leave space at the top */
    margin-bottom: 10%;
    /* Adjust the bottom margin to leave space at the bottom */
}



.form {
    width: 45%;
}

.form h2 {
    margin: 0;
    padding: 10px;
}

.input-group {
    margin: 10px 0;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.button-group {
    margin-top: 20px;
}

.button-group button {
    background-color: #12123e;
    color: white;
    padding: 5px 15px;
    border: 2px solid gray;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button-group button:hover {
    border: 2px solid rgb(255, 255, 255);
    font-weight: bold;
    color: white;
    background-color: #1e2167;
}

/* footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #0a0a23;
    border-top: 1px solid #323232;
    font-size: 14px;
}

.footer h3 a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    font-size: 24px;
    display: inline;
}

.footer h3 a:hover {
    color: rgb(125, 141, 222);
    font-size: 25px;
}

.footer p {
    color: gray;
    font-size: 10px;
    text-decoration: none;
}

.footer ul {
    list-style: none;
    padding: 0;
    display: inline;
}

.footer li {
    display: inline;
    margin-right: 20px;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer img {
    padding: 0 10px;
    margin: 0 5px;
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.footer img:hover {

    width: 39px;
    height: 37px;
}

.footer-second {
    text-align: right;
}

/* show hide button */

.password-text{
    cursor: pointer;
}

.password-toggle{
    cursor: pointer;
}

/* running-message animation */
.running-message {
    color: white;
    padding: 5px 0;
    position: relative;
    overflow: hidden;
}

.running-message p {
    margin: 0;
    white-space: nowrap;
    animation: runText 40s linear infinite;
    font-weight: bold;
}

@keyframes runText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* responsive */
@media screen and (max-width:1400px) {
    body {
        min-height: unset;
        min-width: fit-content;
    }

    .secondSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        height: 141vh;
    }

    .box {
        flex-direction: column;
    }

    nav {
        height: 100px;
        flex-direction: column;
    }

    nav ul {
        margin-bottom: 10px;
    }

    .login-button a {
        padding: 1px 5px;
    }

    .signup-button a {
        padding: 1px 5px;
    }
}