* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

/* nav */
nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(153, 153, 226);
    font-size: 1.01rem;
    text-decoration: underline;
}

.left {
    margin-left: 35px;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
}

.left:hover {
    font-size: 1.53rem;
    color: rgb(153, 153, 226);

}

/* Style for login button */
.login-button a {
    background-color: #12123e;
    color: white;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.login-button a:hover {
    font-weight: bold;
    color: white;
    background-color: #1e2167;
}

.signup-button a {
    background-color: #12123e;
    color: white;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.signup-button a:hover {
    font-weight: bold;
    color: white;
    background-color: #1e2167;
}

/* container */
.container {
    background: rgba(0, 0, 33, 0.237);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 45%;
}

.form h2 {
    margin: 0;
    padding: 10px;
}

.input-group {
    margin: 10px 0;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.show-password {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    color: #3498db;
}

.button-group {
    margin-top: 20px;
}

.button-group button {
    padding: 10px 20px;
    background: #3498db;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/* footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #0a0a23;
    border-top: 1px solid #323232;
    font-size: 14px;
    color: #ffffff;
}

.footer p {
    color: gray;
    font-size: 10px;
    text-decoration: none;
}

.footer h3:hover {
    color: gray;
}