* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(153, 153, 226);
    font-size: 1.01rem;
    text-decoration: underline;
}

/* Add these styles at the end of your existing CSS file */

/* Style for login button */
.login-button a {
    background-color: #12123e;
    color: white;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 5px ;
    text-decoration: none;
    transition: background-color 0.3s;
}

.login-button a:hover {
    font-weight: bold;
    color: white;
    background-color: #1e2167;
}

/* Style for signup button */
.signup-button a {
    background-color: #12123e;
    color: white;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 5px ;
    text-decoration: none;
    transition: background-color 0.3s;
}

.signup-button a:hover {
    font-weight: bold;
    color: white;
    background-color: #1e2167;
}

main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
}

.left {
    margin-left: 35px;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
}

.left:hover {
    font-size: 1.53rem;
    color: rgb(153, 153, 226);

}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2.5rem;
}

.leftSection .buttons {
    padding: 50px 0;
}

.leftSection .btn {
    padding: 12px;
    background: #000021;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;
}

.leftSection .btn:hover {
    background: #1e2167;
}

.rightSection img {
    width: 80%;
}

.purple {
    color: rgb(170, 107, 228);
}

.text-gray {
    margin: 10px;
    color: gray;
}

#element {
    color: rgb(170, 107, 228);
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondSection h1 {
    font-size: 1.9rem;
}

.secondSection .box {
    background: white;
    width: 77vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 120px;
}

.image-top {
    width: 35px;
    position: relative;
    top: -44px;
    left: -11px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 14px;
}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 9px;
}

/* Footer container */
.footer {
    background-color: #0a0a23;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    border-top: 1px solid #323232;
}

.footer h3 {
    padding: 10px;
    font-size: 24px;
    display: inline;
    /* Add this line to make it inline */
}

.footer h3:hover {
    color: rgb(125, 141, 222);
    font-size: 25px;
}

.footer ul {
    list-style: none;
    padding: 0;
    display: inline;
    /* Add this line to make the list inline */
}

.footer li {
    display: inline;
    margin-right: 20px;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer img {
    padding: 0 10px;
    margin: 0 5px;
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.footer img:hover {
    
    width: 39px;
    height: 37px;
}

.footer-first {
    text-align: center;
    cursor: pointer;
}

.footer-second {
    text-align: right;
}

footer .footer-rights {
    font-size: 10px;
    color: gray;
    
}

/* about */

.aboutMeSection {
    /* background-color: #f5f5f5; */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.aboutMeSection h2 {
    font-size: 2.5rem;
    /* font-size: 24px; */
    color: #c7c7c7;
    margin-bottom: 20px;
}

.aboutMeSection p {
    font-size: 16px;
    line-height: 1.6;
    color: #c7c7c7;
    margin-bottom: 15px;
}

/* projects */
h1 {
    font-size: 2rem;
    padding: 30px 40px;
}

.buttons {
    text-align: center;
}

.button {
    padding: 10px;
    background: #000021;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
    margin: 20px 10px;
}

.button:hover {
    background: #1e2167;
}

.projects {
    display: flex;
    align-items: center;
}


.title-desc {
    padding: 10px 40px;
    flex-grow: 1;
}

.title-desc ul {
    padding: 10px 40px;
    flex-grow: 1;
}

.title-desc h2 {
    font-size: 1.5rem;
}

.title-desc h2:hover {
    font-size: 1.53rem;
    color: rgb(255, 145, 0);
    cursor: pointer;
}